@media (max-width: 1100px){
#hot{
  margin-top: 12px;
  margin-bottom: 7px;
}

#low{
  margin-top: 12px;
  margin-bottom: 7px;
  height: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.ing{
  width: 20% !important;
}
#highov{
  color: #12ca12;
  font-size: 9.5px;
}
#highon{
  font-size: 9.5px;
}

@media (max-width: 452px){
#low{
  margin-top: 12px;
  margin-bottom: 7px;
  height: 90px !important;
  padding-top: 12px;
  padding-bottom: 12px;
}
#highov{
  color: #12ca12;
  font-size: 9.5px;
}
#highon{
  font-size: 9.5px;
}
#fond {
  height: 6px;
  /*background-color: #475993;*/
  margin-top: -5px;
  background-image: url('icons/fbf.png');
  background-size: cover;
}

#ft{
  height: 6px;
  background-color: #76a9ea;
  margin-top: -5px;
}

#fi{
  position: sticky;
  height: 6px;
  /*background-color: #b72285;*/
  margin-top: -5px;
  background-image: url('icons/instaf.png');
  background-size: cover;
}

#fy{
  height: 6px;
  background-color: #f61c0d;
  margin-top: -5px;
  border-radius: 1px;
}

.ing{
  width: 24% !important;
}


}
/*----------------------------farany 452 max---------------------------------------------------------*/
#hot{
  padding-top: 2%;
  box-shadow: 0px 0px 1px 2px #262b41;
  border-radius: 3px;
}

#low{
  padding-top: 12px;
  box-shadow: 0px 0px 1px 2px #262b41;
  border-radius: 3px;
  height: 70px;
  padding-bottom: 12px;

}

#high{
  color: #12ca12;
  margin-top: 1%;
  font-size: 9.5px;
}

#highov{
  color: #12ca12;
  font-size: 9.5px;
}


.container-fluid{
  margin-top: 3%;
}

#followers{
  margin-top: -23%;
}

#over{
  margin-top: 15%;
}
}

/*--------------------------------------------------farany 1100 max-----------------------------------------------------*/

@media (max-width: 452px){
#low{
  margin-top: 12px;
  margin-bottom: 7px;
  height: 90px;
  padding-top: 12px;
  padding-bottom: 12px;
}
#fond {
  height: 6px;
  /*background-color: #475993;*/
  margin-top: -5px;
  background-image: url('icons/fbf.png');
  background-size: cover;
}

#ft{
  height: 6px;
  background-color: #76a9ea;
  margin-top: -5px;
}

#fi{
  position: sticky;
  height: 6px;
  /*background-color: #b72285;*/
  margin-top: -5px;
  background-image: url('icons/instaf.png');
  background-size: cover;
}

#fy{
  height: 6px;
  background-color: #f61c0d;
  margin-top: -5px;
  border-radius: 1px;
}
}

@media(min-width: 1100px){
#hot{
  padding-top: 2%;
  box-shadow: 0px 0px 1px 2px #262b41;
  border-radius: 3px;
}

#fond {
  height: 6px;
  /*background-color: #475993;*/
  margin-top: -5px;
  background-image: url('icons/fbf.png');
  background-size: cover;
}

#ft{
  height: 6px;
  background-color: #76a9ea;
  margin-top: -5px;
}

#fi{
  position: sticky;
  height: 6px;
  /*background-color: #b72285;*/
  margin-top: -5px;
  background-image: url('icons/instaf.png');
  background-size: cover;
}

#fy{
  height: 6px;
  background-color: #f61c0d;
  margin-top: -5px;
  border-radius: 1px;
}

#hor{
  margin-top: 24px;
}

#low{
  padding-top: 12px;
  box-shadow: 0px 0px 1px 2px #262b41;
  border-radius: 3px;
  height: 70px;
  padding-bottom: 12px;
  margin-top: 12px;
}

#high{
  color: #12ca12;
  margin-top: 1%;
  font-size: 9.5px;
}


#highov{
  color: #12ca12;
  font-size: 9.5px;
}

.container-fluid{
  margin-top: 3%;
}

#followers{
  margin-top: -23%;
}

#over{
  margin-top: 18%;
}

.ing{
  width: 24% !important;
}


}

img{
  width: 7%;
  vertical-align: bottom;
}

body {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #fcffff75 !important;
}

.ssmall-box{
  background-color: #fff;
}


#on{
color: red;
font-size: 9.5px;
}

#highon{
  color: red;
  margin-top: auto;
  font-size: 9.5px;
}


h2, .h2 {
    font-size: 50px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 17px;
    margin-bottom: -1px;
}

.inner{
  padding-top: 15px;
  padding-bottom: 15px;
}



@media (min-width: 299px) and (max-width: 588px) {
#fond {
  height: 6px;
  /*background-color: #475993;*/
  margin-top: -11px;
  background-image: url('fbf.png');
  background-size: cover;
}

#ft{
  height: 6px;
  background-color: #76a9ea;
  margin-top: -11px;
}

#fi{
  position: sticky;
  height: 6px;
  /*background-color: #b72285;*/
  margin-top: -11px;
  background-image: url('icons/instaf.png');
  background-size: cover;
}

#fy{
  height: 6px;
  background-color: #f61c0d;
  margin-top: -11px;
  border-radius: 1px;
}

}

@media (min-width: 588px) and (max-width: 750px) {
#fond {
  height: 6px;
  /*background-color: #475993;*/
  margin-top: -15px;
  background-image: url('icons/fbf.png');
  background-size: cover;
}

#ft{
  height: 6px;
  background-color: #76a9ea;
  margin-top: -15px;
}

#fi{
  position: sticky;
  height: 6px;
  /*background-color: #b72285;*/
  margin-top: -15px;
  background-image: url('icons/instaf.png');
  background-size: cover;
}

#fy{
  height: 6px;
  background-color: #f61c0d;
  margin-top: -15px;
  border-radius: 1px;
}

}

@media (min-width: 750px) and (max-width: 770px) {
#fond {
  height: 6px;
  /*background-color: #475993;*/
  margin-top: -14px;
  background-image: url('icons/fbf.png');
  background-size: cover;
}

#ft{
  height: 6px;
  background-color: #76a9ea;
  margin-top: -14px;
}

#fi{
  position: sticky;
  height: 6px;
  /*background-color: #b72285;*/
  margin-top: -14px;
  background-image: url('icons/instaf.png');
  background-size: cover;
}

#fy{
  height: 6px;
  background-color: #f61c0d;
  margin-top: -14px;
  border-radius: 1px;
}

}

@media (min-width: 770px) and (max-width: 1100px) {
#fond {
  height: 6px;
  /*background-color: #475993;*/
  margin-top: -7px;
  background-image: url('icons/fbf.png');
  background-size: cover;
}

#ft{
  height: 6px;
  background-color: #76a9ea;
  margin-top: -7px;
}

#fi{
  position: sticky;
  height: 6px;
  /*background-color: #b72285;*/
  margin-top: -7px;
  background-image: url('icons/instaf.png');
  background-size: cover;
}

#fy{
  height: 6px;
  background-color: #f61c0d;
  margin-top: -7px;
  border-radius: 1px;
}

}

/*----------------------------------------------tablette----------------------------------------------------*/
#fond {
  height: 6px;
  margin-top: -14px;
  background-image: url('fbf.png');
  background-size: cover;
}*/

#ft{
  height: 6px;
  background-color: #76a9ea;
  margin-top: -14px;
}

#fi{
  position: sticky;
  height: 6px;
  background-color: #b72285;
  margin-top: -14px;
  background-image: url('icons/instaf.png');
  background-size: cover;
}

#fy{
  height: 6px;
  background-color: #f61c0d;
  margin-top: -14px;
  border-radius: 1px;
}
