/* ============================================
   GENERAL STYLES - LIGHT MODE (Default)
   Base styles for all screen sizes
   ============================================ */

img {
  width: 7%;
  vertical-align: bottom;
}

body {
  margin-top: 3%;
  margin-bottom: 3%;
}

/* Negative trend indicators (red) */
#on {
  color: red;
  font-size: 9.5px;
}

#highon {
  color: red;
  margin-top: auto;
  font-size: 9.5px;
}

/* Hover effects */
label:hover {
  font-size: 14px;
  text-shadow: 0px 0px 1px 2px red;
  font-family: monospace;
}

img:hover {
  width: 7%;
}

/* Typography */
h2, .h2 {
  font-size: 50px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 17px;
  margin-bottom: -1px;
}

h2:hover {
  font-weight: 56px;
  font-family: monospace;
}

span:hover {
  font-weight: 19px;
  font-family: monospace;
}

.inner {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ============================================
   MOBILE - Small screens (299px - 588px)
   Phones in portrait mode
   ============================================ */
@media (min-width: 299px) and (max-width: 588px) {
  /* Facebook brand color bar */
  #fond {
    height: 6px;
    margin-top: -11px;
    background-image: url('icons/fbf.png');
    background-size: cover;
  }

  /* Twitter brand color bar */
  #ft {
    height: 6px;
    background-color: #76a9ea;
    margin-top: -11px;
  }

  /* Instagram brand color bar */
  #fi {
    position: sticky;
    height: 6px;
    margin-top: -11px;
    background-image: url('icons/instaf.png');
    background-size: cover;
  }

  /* YouTube brand color bar */
  #fy {
    height: 6px;
    background-color: #f61c0d;
    margin-top: -11px;
    border-radius: 1px;
  }
}

/* ============================================
   MOBILE - Medium screens (588px - 750px)
   Large phones in landscape mode
   ============================================ */
@media (min-width: 588px) and (max-width: 750px) {
  /* Social media brand color bars */
  #fond {
    height: 6px;
    margin-top: -15px;
    background-image: url('icons/fbf.png');
    background-size: cover;
  }

  #ft {
    height: 6px;
    background-color: #76a9ea;
    margin-top: -15px;
  }

  #fi {
    position: sticky;
    height: 6px;
    margin-top: -15px;
    background-image: url('icons/instaf.png');
    background-size: cover;
  }

  #fy {
    height: 6px;
    background-color: #f61c0d;
    margin-top: -15px;
    border-radius: 1px;
  }
}

/* ============================================
   TABLET - Portrait (750px - 770px)
   iPad and similar tablets
   ============================================ */
@media (min-width: 750px) and (max-width: 770px) {
  /* Social media brand color bars */
  #fond {
    height: 6px;
    margin-top: -14px;
    background-image: url('icons/fbf.png');
    background-size: cover;
  }

  #ft {
    height: 6px;
    background-color: #76a9ea;
    margin-top: -14px;
  }

  #fi {
    position: sticky;
    height: 6px;
    margin-top: -14px;
    background-image: url('icons/instaf.png');
    background-size: cover;
  }

  #fy {
    height: 6px;
    background-color: #f61c0d;
    margin-top: -14px;
    border-radius: 1px;
  }
}

/* ============================================
   TABLET - Landscape (770px - 1100px)
   Tablets in horizontal mode
   ============================================ */
@media (min-width: 770px) and (max-width: 1100px) {
  /* Social media brand color bars */
  #fond {
    height: 6px;
    margin-top: -7px;
    background-image: url('icons/fbf.png');
    background-size: cover;
  }

  #ft {
    height: 6px;
    background-color: #76a9ea;
    margin-top: -7px;
  }

  #fi {
    position: sticky;
    height: 6px;
    margin-top: -7px;
    background-image: url('icons/instaf.png');
    background-size: cover;
  }

  #fy {
    height: 6px;
    background-color: #f61c0d;
    margin-top: -7px;
    border-radius: 1px;
  }
}

/* ============================================
   DESKTOP - Large screens (>1100px)
   Desktop computers and laptops
   ============================================ */
@media (min-width: 1100px) {
  /* Social media cards (main boxes) */
  #hot {
    padding-top: 2%;
    box-shadow: 0px 0px 1px 2px #262b41;
    border-radius: 3px;
  }

  /* Social media brand color bars */
  #fond {
    height: 6px;
    margin-top: -5px;
    background-image: url('icons/fbf.png');
    background-size: cover;
  }

  #ft {
    height: 6px;
    background-color: #76a9ea;
    margin-top: -5px;
  }

  #fi {
    position: sticky;
    height: 6px;
    margin-top: -5px;
    background-image: url('icons/instaf.png');
    background-size: cover;
  }

  #fy {
    height: 6px;
    background-color: #f61c0d;
    margin-top: -5px;
    border-radius: 1px;
  }

  /* Horizontal layout container */
  #hor {
    margin-top: 24px;
  }

  /* Statistics cards (overview section) */
  #low {
    padding-top: 12px;
    box-shadow: 0px 0px 1px 2px #262b41;
    border-radius: 3px;
    height: 70px;
    padding-bottom: 12px;
    margin-top: 12px;
  }

  /* Positive trend indicators (green) */
  #high {
    color: #12ca12;
    margin-top: 1%;
    font-size: 9.5px;
  }

  #highov {
    color: #12ca12;
    font-size: 9.5px;
  }

  /* Layout spacing */
  .container-fluid {
    margin-top: 3%;
  }

  #followers {
    margin-top: -23%;
  }

  #over {
    margin-top: 18%;
  }

  .ing {
    width: 24% !important;
  }
}

/* ============================================
   TABLETS & MOBILE - Medium screens (<1100px)
   General styles for tablets and mobile devices
   ============================================ */
@media (max-width: 1100px) {
  /* Card spacing adjustments */
  #hot {
    margin-top: 12px;
    margin-bottom: 7px;
  }

  #low {
    margin-top: 12px;
    margin-bottom: 7px;
    height: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  /* Icon sizing for smaller screens */
  .ing {
    width: 20% !important;
  }

  /* Trend indicators */
  #highov {
    color: #12ca12;
    font-size: 9.5px;
  }

  #highon {
    font-size: 9.5px;
  }

  /* Card styles */
  #hot {
    padding-top: 2%;
    box-shadow: 0px 0px 1px 2px #262b41;
    border-radius: 3px;
  }

  #low {
    padding-top: 12px;
    box-shadow: 0px 0px 1px 2px #262b41;
    border-radius: 3px;
    height: 70px;
    padding-bottom: 12px;
  }

  #high {
    color: #12ca12;
    margin-top: 1%;
    font-size: 9.5px;
  }

  #highov {
    color: #12ca12;
    font-size: 9.5px;
  }

  .container-fluid {
    margin-top: 3%;
  }

  #followers {
    margin-top: -23%;
  }

  #over {
    margin-top: 15%;
  }
}

/* ============================================
   MOBILE - Very small screens (<452px)
   Small phones in portrait mode
   ============================================ */
@media (max-width: 452px) {
  /* Statistics cards adjusted for small screens */
  #low {
    margin-top: 12px;
    margin-bottom: 7px;
    height: 90px !important;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  /* Trend indicators */
  #highov {
    color: #12ca12;
    font-size: 9.5px;
  }

  #highon {
    font-size: 9.5px;
  }

  /* Social media brand color bars */
  #fond {
    height: 6px;
    margin-top: -5px;
    background-image: url('icons/fbf.png');
    background-size: cover;
  }

  #ft {
    height: 6px;
    background-color: #76a9ea;
    margin-top: -5px;
  }

  #fi {
    position: sticky;
    height: 6px;
    margin-top: -5px;
    background-image: url('icons/instaf.png');
    background-size: cover;
  }

  #fy {
    height: 6px;
    background-color: #f61c0d;
    margin-top: -5px;
    border-radius: 1px;
  }

  /* Icon sizing */
  .ing {
    width: 24% !important;
  }
}